# 2. Packages
---

In diesen Skript bearbeiten wir die Grundlagen von Packages.
Python bietet ein breites und umfangreiches Ökosystem an Packages
Sei es von 
- Webframeworks (`Django`), 
- Spieleentwicklung (`Pygame`), 
- Big Data (`Spark`), 
- Daten analyse (`Seaborn`, `plotly`, `Matplotlib`)
- Machine Learning (`Skit-learn`, `Statsmodels`), 
- Deep Learning (`Tensorflow / Keras`) und viel mehr.
---

Stell sicher das du im richtigen Verzeichnis:
---

In [5]:
import os

# Dein Akttueller Pfad
notebook_path = os.getcwd()
"Current directory:", notebook_path

# (replace '/path/to/directory' ändere es zu dein Pfad)
new_directory = '/Users/riccardo/Desktop/Github/Python-Crashkurs_'
os.chdir(new_directory)

# Bestätige die änderung
notebook_path = os.getcwd()
print("New directory:", notebook_path)

New directory: /Users/riccardo/Desktop/Github/Python-Crashkurs_

Pandas
---
### Installation:
Wenn wir in einem Jupyter Notebook (`.ipynb` )arbeiten, verwenden wir den Code 
- `%pip install dein_package`, 
um das Pakete zu installieren.

In einer `.py` Datei wird die Eingabe in dem Terminal getätig und zwar wie folgt:
`pip install dein_package`

<img src="/Users/riccardo/Desktop/Github/Python-Crashkurs_/Pic_for_expla/install_package_terminal.png" alt="Terminal package install" width="700"/>

-----

### Wie verwende ich ein Package
Um die Verwendung eines Pakets zu verdeutlichen machen wird es an Pandas fest.
Um das Paket zu verwenden, importieren wir es sowohl in einer `.ipynb-Datei` als auch in einer `.py-Datei` mit dem Befehl:

- `import pandas as pd`


**ACHTUNG:**

Durch den Import mit `import` steht uns das Paket zur Verfügung, und wir können die damit verbundenen Funktionen nutzen.
Wir referenzieren das Paket nicht mit `pandas`, sondern mit `pd`, da wir `as pd` verwenden. Das bedeutet, dass wir beim Aufruf der Pandas-Funktionen anstelle von `pandas` nur noch `pd` schreiben.

------

### Welche Funktionen gibt es nun ? 

Wie finden wir heraus welche Funktion nun Pandas hat ? 
Jedes große Package wie Pandas, Streamlit und viele mehr haben eine Offiziele Dokumentation.
- Die offiziele Dokumentation von Pandas findest du hier: https://pandas.pydata.org/docs/index.html 

Dabei wird erklärt 
- welche Funktion es gibt 
- welche Parameter mitgeben werden können 
- zugleich werden weiter unten manchmal beispiele mitgegeben wie der Code anzuwenden ist.
----

In [47]:
# Wie besproche müssen wir Pandas zunächst installieren:
%pip install pandas

Requirement already satisfied: pandas in ./venv/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.10/site-packages (from pandas) (2024.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: numpy>=1.22.4 in ./venv/lib/python3.10/site-packages (from pandas) (2.1.1)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 24.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Importierung von Pandas um auf die Funktionen zugreifen zu können
import pandas as pd

Wir nutzen als erste Funktion 

- [pd.read_csv(filepath_or_buffer="Deine_Datei.csv", sep=",")](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)

um Daten einzulesen.

In [50]:
df = pd.read_csv(filepath_or_buffer="Data/titantic.csv",
                 sep=",")
df.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Titanic Datensatz:

Beschreibung (Meta-Daten):
- PassengerId: Unique identifier for each passenger.
- Survived: Survival status of the passenger (0 = Not Survived, 1 = Survived).
- Pclass: Passenger class (1 = First class, 2 = Second class, 3 = Third class).
- Sex: Gender of the passenger.
- Age: Age of the passenger.
- SibSp: Number of siblings/spouses aboard the Titanic.
- Parch: Number of parents/children aboard the Titanic.
- Fare: Fare paid by the passenger.
- Embarked: Port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton).

Bei der Importierung der Daten haben wir nun ausversehen eine Spalte hinzugefügt die wir nicht brauchen namenes `"Unnamed: 0"`.
Um eine Spalte aus einem DataFrame zu entfernen, können wir die Funktion 
- [`df.drop()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) wie folgt verwenden:

- `df.drop(columns=["Spalte"], inplace=True)` entfernt die Spalte dauerhaft aus dem DataFrame, da die Änderung direkt im ursprünglichen DataFrame durchgeführt wird.

- `df = df.drop(columns=["Spalte"])` wird verwendet, wenn der Parameter `inplace` nicht angegeben ist. In diesem Fall muss das Ergebnis entweder in der gleichen oder einer neuen Variablen gespeichert werden. Andernfalls wird die Änderung nur temporär vorgenommen und hat keinen Einfluss auf den DataFrame im weiteren Verlauf des Codes.

In [52]:
### Aufgabe 
df.drop(columns=["Unnamed: 0"], inplace = True)

In [53]:
# überprüfe ob die Spalte wirklich entfernt wurde
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

### Umgang mit NaN-Werten (Not a Number):

NaN Werte sind Daten die nicht richtig erhoben worden oder auch fehler enthalten

**Fehlende Werte:**
Der Umgang mit fehlenden Werten ist ein entscheidender Schritt bei der Datenvorbereitung und sollte für jede Spalte individuell betrachtet werden.

Die zentrale Frage sollte immer lauten: **Kann ich die fehlenden Werte sinnvoll ersetzen?**

***Beispiel: Spalte `"Age"` (Alter) ?***

In [56]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

1. Lösche die Zeilen mit NaN values. ACHTUNG hier werden aus deinem Dataframe ALLE NaN values entfernt

In [ ]:
df = df.dropna()

2. Um alle Zeilen mit fehlenden Werten (NaN) in der 'Age'-Spalte zu löschen, kannst du den folgenden Befehl verwenden:

    **Hinweis**: Dieser Schritt entfernt nur die Zeilen, die NaN-Werte in der angegebenen Spalte enthalten. 
Alle anderen NaN-Werte in anderen Spalten bleiben unverändert.

In [ ]:
df = df.dropna(subset=['Age'])

3. NaN-Werte mit dem Durchschnitt der jeweiligen Spalte füllen:

Um die NaN-Werte in der `'Age'`-Spalte durch den Durchschnitt dieser Spalte zu ersetzen, verwende den folgenden Befehl:

In [ ]:
df = df.fillna()

In [ ]:
df["Age"]= df["Age"].fillna(df["Age"].mean()) # nur eine Spalte werden die Daten ersetzt

In [ ]:
df = df.fillna(df.mean()) #<- mean(), mode(), median() / Alle Spalten werden ersetzt oder Brechnungen die eine INT oder FLOAT wiedergeben

`df.info()` gibt uns eine gesamte Übersicht über die Datentypen für jede Spalte an.

In [ ]:
df.info()

Wir sehen das folgende Spalten den Datentypen darstellen als `objects`:
- Name
- Sex
- Ticket
- Cabin
- Embarked

Betrachte die Spalten und entscheide welche Datentypen du verwendets.

In [ ]:
df.head()

In [8]:
df["Name"] = df["Name"].astype("string")
df["Sex"] = df["Sex"].astype("category")

# mache weiter und ändere die Datentypen für Ticket, Cabin und Embarked

# - Ticket
df["Ticket"] = df["Ticket"].astype("")

# - Cabin 
df[] = df[].astype()

# - Embarked

Überprüfe ob die Datentypen korrekt geändert wurden:

In [ ]:
df.info()

In [ ]:
df.describe().round(2)

### Datenfilterung:
---
Es gibt zahlreiche Methoden, um Daten zu filtern. Eine dieser Möglichkeiten werden wir nun genauer betrachten und praktisch anwenden.

### Daten Filterun mit einer Bedigung

In [ ]:
# Der folgende Datensatz enthält nur Daten über die überlebende
Survived_df = df[df["Survived"] == 1]

Survived_df.head()

In [ ]:
# Der folgende Datensatz enthält nur Daten über die verstorbenen
Perished_df = df[df["Survived"] == 0]



Perished_df.head()

Aufgabe: Erstelle einen DataFrame, der nur die Passagiere enthält, die in der 1. Klasse gereist sind. Dafür musst du zunächst herausfinden, wie viele eindeutige (*unique* values) Werte die entsprechende Spalte hat.Um richtig filtern zukönnen. 


mit dem Code:
`df["Pclass"].unqiue()`
Dieser Code gibt dir eine Übersicht der verschiedenen Klassen, indem jeder Wert nur einmal angezeigt wird. Dies hilft dir, die Struktur der Daten besser zu verstehen, bevor du den Filter auf die 1. Klasse anwendest.ommen

In [ ]:
# Schreibe ein Code wie du festellen kannst wie viele unique Values es in der Spalte "Pclass" gibt:
df["Pclass"].unique()

Nun kannst du nach der 1. Klasse filtern da du die `unique values` kennst.

In [ ]:
firstClass_df = df[df["Pclass"] == ]

Ein dataframe nur mit den Passagieren die die `2. Klasse` gebucht haben

In [ ]:
secondClass_df = df[df[""] == ]

Ein dataframe nur mit den Passagieren die die `3. Klasse` gebucht haben

In [ ]:
thridClass_df =

### Daten Filterun mit mehreren Bedigung
Das Filtern von Daten kann auch auf Basis von zwei oder mehr Bedingungen erfolgen. Im folgenden Beispiel filtern wir die Daten anhand von zwei Bedingungen und speichern das Ergebnis in einer neuen Variablen.

In [ ]:
maleSurvived_df = df[(df["Sex"] == "male") & 
                    (df["Survived"] == 1)].round(2)


maleSurvived_df.head()

Aufgabe: Filtere die Daten anhand der folgenden **zwei Bedingungen**:

- Passagiere, die 25 Jahre oder älter sind,
- und Passagiere, die in der 1. Klasse gebucht haben.
Speichere das Ergebnis der gefilterten Daten in einer neuen Variablen.

In [ ]:
df_filtered = df[(df["Age"] >= ) & 
                    (df["Pclass"] == )].round(2)

df_filtered.describe()

Aufgabe: Filtere die Daten nach den folgenden Bedingungen:

- Passagiere, die in der 3. Klasse gebucht haben,
- und Passagiere, die das Unglück überlebt haben.
Speichere das Ergebnis der gefilterten Daten in einer neuen Variablen.

Visualisierung mit *Plotly*:
---
Für die Visualisierung nutzen wir Plotly da dies die Grundlage ist für die Integration in Streamlit später.

In [ ]:
%pip install plotly==5.24.1


Folgende Funktion können wir zur Visualisierung nutzen

- [`px.box()`](https://plotly.com/python/box-plots/)
- [`px.pie()`](https://plotly.com/python/pie-charts/) 
- [`px.bar()`](https://plotly.com/python/bar-charts/)
- [`px.histogram()`](https://plotly.com/python/histograms/)
- [`px.violin()`](https://plotly.com/python/violin/)

und viele mehr findest du auf der offizielen Seite von Plotly.


weitere Visualisierungen findest du unter: https://plotly.com/python/

---

In [23]:
import plotly.express as px

Lade die Folgende Datei herunter in Ilias in den Ordner Data/World_Data_Bank.csv

- Nutze die Funktion `pd.read_csv()` um die Datei einzulesen und speicher die ab als `df_wb`.

*Stell sicher das du im richtigen Directory bist*

In [7]:
# Daten einlesen

df_wb = pd.read_csv(filepath_or_buffer="Data/World_Data_Bank.csv")
df_wb.head()

,Country,Year,FDI as % of GDP,Inflation Rate (%),GDP per Capita (constant 2015 $),Unemployment Rate (%)
0,United States,2020,0.642810,1.233584,59394.778327,9.971
1,United States,2019,1.468232,1.812210,61330.645977,4.854
2,United States,2018,1.039454,2.442583,60127.210278,5.156
3,United States,2017,1.941776,2.130110,58703.144078,5.791
4,United States,2016,2.522681,1.261583,57658.670883,6.524

Stell sicher das du keine NaN Werte hast:

In [9]:
df_wb.isna().sum()

Country                             0
Year                                0
FDI as % of GDP                     0
Inflation Rate (%)                  0
GDP per Capita (constant 2015 $)    0
Unemployment Rate (%)               9
dtype: int64

Ersetzte die `NaN` werte nutze dafür gerne den Leitfaden oder den Code von oben

Überprüfe ob die Datentypen richtig formatiert sind:

In [11]:
df_wb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           93 non-null     object
 1   Year                              93 non-null     int64
 2   FDI as % of GDP                   93 non-null     float64
 3   Inflation Rate (%)                93 non-null     float64
 4   GDP per Capita (constant 2015 $)  93 non-null     float64
 5   Unemployment Rate (%)             84 non-null     float64
dtypes: float64(4), int64(1), object(1)
memory usage: 4.5+ KB

In [ ]:
# Falls nötig ändere die Datentypen

### Erstellung eines Boxplots
`px.box()`
- Parameter: 

    - `data_frame=df`aus welchen Dataframe die Daten visualisiert werden sollen
    - `y="Age"` die Spalte
    - `title="Age Distribution of Passengers"` Ist die überschrift des Boxplots.

`fig.update_layout`
- Parameter:
    - width (breite) als *`int`*
    - height (höhe) als *`int`* 

**Dieses Muster werden sich immer wieder holen**

In [ ]:
fig = px.box(data_frame=df, y="Age", title="Age Distribution of Passengers")
fig.update_layout(width=800, height=600)  # Setze die Breite und Höhe des Graphen
fig.show()

### Erstellung eines Histogram

Indemfall nutzen wir den `px.histogram()` um die Verteilung der Geschlechter zu visualisieren
Die Parameter bleiben exakt die gleichen jedoch die Visualsierung ändert sich.

In [ ]:
fig = px.histogram(data_frame=df, x="Sex", title="Male or Female")
fig.update_layout(width=800, height=600)
fig.show()

Eine weiter mögliche ist eine Lücke `(bargap)` zwischen den Balken zu setzen indem wir 
- `fig.update_layout(bargap=0.2)` hinzufügen.

Der Parameter ist ein Wert zwischen 0 und 1, wobei 0 bedeutet, dass die Balken aneinander kleben und 1 bedeutet, dass die Balken so weit wie möglich voneinander entfernt sind.

In [ ]:
fig = px.histogram(data_frame=df, x="Survived", title="How many passengers survived?")
fig.update_layout(width=800, height=600, bargap=0.2,)  # Setzt eine Lücke von 20% zwischen den Balken
fig.show()

Kreisdiagramm:
---
- `data_frame=Survived_df`: Der Datensatz, der für das Diagramm verwendet wird.
- `values='Survived'`: Die Spalte, die die Werte für die Segmentgrößen angibt.
- `names='Pclass'`: Die Spalte, die die Kategorien (Passagierklassen) für die Segmente definiert.
- `title='Survival rate of Pclass'`: Der Titel des Diagramms.
- `hole=0.3`: Macht aus dem Kuchendiagramm ein Donut-Diagramm, indem es die Mitte zu 30 % leer lässt.

In [ ]:
fig = px.pie(data_frame=df, 
                values='Survived',
                names='Pclass',
                title='Survival rate of Pclass',
                hole=0.3)
fig.update_layout(width=800, height=600)  
fig.show()

1. `fig = px.pie(...)`: 
    - `hole=0.3`: Erstellt ein Donut-Diagramm  
    - `names="Pclass"`:der Passagierklasse (Pclass) als Kategorie und dem Titel "Verteilung der Passagiere nach Klasse".

2. `fig.update_traces(pull=[0.2, 0.1, 0.4])`: 
    - `pull`:Hebt die Segmente der Klassen 1 und 3 hervor, indem sie aus dem Donut herausgezogen werden. Der Wert in pull bestimmt, wie stark jedes Segment verschoben wird (Klasse 1 um 0.2, Klasse 3 um 0.4).

3. `fig.update_layout()`: 
    - Parameter:
        - `width`: (breite) als *`int`*
        - `height`: (höhe) als *`int`*

In [ ]:
fig = px.pie(df, names="Pclass",
              title="Verteilung der Passagiere nach Klasse",
             hole=0.3)
  
fig.update_traces(pull=[0.2, 0.1, 0.4])  # Hebt die Klassen 1 und 3 hervor
fig.update_layout(width=600, height=600, title_font_size=22, font=dict(size=16))
fig.show()

`fig = px.bar()`
- `y="Pclass"`: Y-Achse zeigt die Passagierklasse.
- `x="Survived"`: X-Achse zeigt den Überlebensstatus.
- `color="Embarked"`: Balken werden nach Einschiffungshäfen farblich markiert.
- `barmode="group"`: Balken sind gruppiert, nicht gestapelt.
- `facet_col="Sex"`: Separate Diagramme für Männer und Frauen (Facetten-Spalten).
- `category_orders`: Legt die Reihenfolge der Kategorien fest (Pclass, Embarked, Sex).

`fig.update_traces()`: 
- `marker_line_width=0`:Entfernt die Linien um die Balken.

In [ ]:
pclass_feature = df.Pclass.value_counts()
pclass_feature
fig = px.bar(x=pclass_feature.index,
             y=pclass_feature.values,
               text = pclass_feature.index)
fig.update_layout(title="Verteilung der Passagiere nach Klasse",
                  xaxis_title="Klasse",
                  yaxis_title="Anzahl der Passagiere")
fig.show()

In [ ]:
fig = px.histogram(
    df,
    x='Survived',
    color='Pclass',
    barmode='group',
    title="Survival Count Plot",
    text_auto=True  # This parameter automatically adds text labels to the bars
)

# Update layout to improve appearance
fig.update_layout(
    xaxis_title='Survived',
    yaxis_title='Count',
    legend_title='Passenger Class',
    font=dict(size=14)  # Optionally adjust the font size of the text labels
)

In [ ]:
fig = px.pie(data_frame=df, values='Survived',
                names='Pclass',
                title='Survival rate of Pclass',
                hole=0.3,
                width=800, height=600)

fig.show()

Visualisierungen mit einem Datensatz der **World Data Bank**:
---

In [ ]:
# 3D-Scatterplot mit Farbcodierung basierend auf der Anzahl der Zylinder ('cylinders')
fig = px.scatter_3d(df_car, x='displacement', y='mpg', z='weight',
                    color='cylinders',  # Farbskala basierend auf der Anzahl der Zylinder
                    size='horsepower',  # Punktgröße basierend auf der Leistung (PS)
                    title="3D-Darstellung: Hubraum, Kraftstoffeffizienz und Fahrzeuggewicht",
                    labels={'displacement': 'Hubraum (cc)', 
                            'mpg': 'Meilen pro Gallone (mpg)', 
                            'weight': 'Gewicht (lbs)'})

# Layout-Anpassungen
fig.update_layout(title_x=0.5,  # Titel zentrieren
                  width=800, height=600)

# Zeige das Diagramm an
fig.show()

World Bank data 
---